ul
  li
    a(
      href='/examples/sh-collapsible'
    ) sh-collapsible

  li
    a(
      href='/examples/sh-datepicker'
    ) sh-datepicker

  li
    a(
      href='/examples/sh-dialog'
    ) sh-dialog

  li
    a(
      href='/examples/sh-number-format'
    ) sh-number-format

  li
    a(
      href='/examples/sh-spinning'
    ) sh-spinning

